* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

h1 {
    font-family: 'Rock 3D', cursive;
    font-family: 'Shizuru', cursive;
}

a {
    padding: 4px;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 32px;
}

p {
    line-height: 24px;
}

li {
    line-height: 24px;
}

header {
    background-color: #14154b;
    color: white;
    padding: 30px 30px;
    display: flex;
}

header > div:last-child {
    margin-left: auto;
}

figure {
    width: auto;
}


.about {
    padding: 32px;
    background-color: #FAF9F6;
}

.text-about {
    flex-direction: column;
    width: 30rem;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.item{
    margin: 0.5rem;
}

.about-possum {
    border-radius: 50%;
    width: 15rem;
    filter: drop-shadow(0.25rem 0.25rem 0.10rem rgb(54, 54, 54));
}

.hobbies-games {
    padding: 32px;
}

.list{
    max-width: 25rem;
}

.container.items-list {
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.hobby{
    height: 4rem;
    width: 4rem;
    background-color: #e2e2e2;
    padding: 0.5rem;
    border-radius: 5%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    word-break: break-all;
    border: solid;
    border-color: #d4d4d4;
    border-width: 1px;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgb(97, 97, 97));
}

.hobby:hover {
    background-color: #f5f5f5;
    transform: scale(1.1);
}

.text-hobby{
    position: relative;
    bottom: 0%;
}

footer {
    padding: 24px;
    background-color: #14154B;
}

.contact {
    background-color: #ffffff;
    border-radius: 10%;
    float: right;
}

.contact:hover {
    transform: translateY(100%);
}

.icon {
    width: 32px;
    height: 32px;
}

@media only screen and (max-width: 400px) {
    .contact{
        float: left;
    }

    footer > a{
        display: block;
    }
}